<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <!-- START SIGMA IMPORTS -->
    <script src="../src/sigma.core.js"></script>
    <script src="../src/conrad.js"></script>
    <script src="../src/utils/sigma.utils.js"></script>
    <script src="../src/utils/sigma.polyfills.js"></script>
    <script src="../src/sigma.settings.js"></script>
    <script src="../src/classes/sigma.classes.dispatcher.js"></script>
    <script src="../src/classes/sigma.classes.configurable.js"></script>
    <script src="../src/classes/sigma.classes.graph.js"></script>
    <script src="../src/classes/sigma.classes.camera.js"></script>
    <script src="../src/classes/sigma.classes.quad.js"></script>
    <script src="../src/classes/sigma.classes.edgequad.js"></script>
    <script src="../src/captors/sigma.captors.mouse.js"></script>
    <script src="../src/captors/sigma.captors.touch.js"></script>
    <script src="../src/renderers/sigma.renderers.canvas.js"></script>
    <script src="../src/renderers/sigma.renderers.webgl.js"></script>
    <script src="../src/renderers/sigma.renderers.svg.js"></script>
    <script src="../src/renderers/sigma.renderers.def.js"></script>
    <script src="../src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
    <script src="../src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
    <script src="../src/renderers/webgl/sigma.webgl.edges.def.js"></script>
    <script src="../src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
    <script src="../src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.labels.def.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.edges.def.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
    <script src="../src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
    <script src="../src/renderers/svg/sigma.svg.utils.js"></script>
    <script src="../src/renderers/svg/sigma.svg.nodes.def.js"></script>
    <script src="../src/renderers/svg/sigma.svg.edges.def.js"></script>
    <script src="../src/renderers/svg/sigma.svg.edges.curve.js"></script>
    <script src="../src/renderers/svg/sigma.svg.labels.def.js"></script>
    <script src="../src/renderers/svg/sigma.svg.hovers.def.js"></script>
    <script src="../src/middlewares/sigma.middlewares.rescale.js"></script>
    <script src="../src/middlewares/sigma.middlewares.copy.js"></script>
    <script src="../src/misc/sigma.misc.animation.js"></script>
    <script src="../src/misc/sigma.misc.bindEvents.js"></script>
    <script src="../src/misc/sigma.misc.bindDOMEvents.js"></script>
    <script src="../src/misc/sigma.misc.drawHovers.js"></script>
    <!-- END SIGMA IMPORTS -->
    <script src="../plugins/sigma.parsers.gexf/gexf-parser.js"></script>
    <script src="../plugins/sigma.parsers.gexf/sigma.parsers.gexf.js"></script>
    <!-- Java Script -->
    <script src="../assets/js/script.js"></script>
    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="video">
      <div class="video-content">
        <div class="video-title">This Video is Sponsored by ADA! An Analysis of Sponsorships on YouTube</div>
        <div class="video-play" onclick="playVideo()"><i class="bi bi-play-fill"></i></div>
        <div class="video-click-msg">Click to play!</div>
      </div>
    </div>
    <div id="imgModal", class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="modal-caption"></div>
    </div>
    <!-- Content -->
    <div class="content">
      <h2>Introduction</h2>

      <p>
        Since the onset of YouTube in 2005, content creators have risen to fame with an expanding follower base. Businesses saw this as an opportunity to sponsor their content, to monetize it and to get their share of this fame, exploring marketing potentials with creators. Nowadays, sponsorships are a common practice on the platform, with many YouTubers making a living off of them.
      </p>

      <h2>Ad-dressing the Issue</h2>

      <p class="comment">
        « F**k off with the annoying ads jeez, people are getting head cancer from this s**t. You s**k! »
        <div class="comment-name">- YouTube comment</div>
      </p>

      <p>
        Sponsorships and ads on YouTube have been a topic of debate among content creators, viewers, and industry experts. Some content creators rely on sponsorships and ads as a primary source of income, but on the other hand of the spectrum, some viewers find them disruptive and annoying.
      </p>

      <h2> What are we looking for? </h2>

      <p>
        In this data story, we will navigate the YouTube Ad landscape: we suspect that some types of videos might be more likely to be sponsored than others. For example, the Gaming industry is known to be a lucrative market for advertisers, but is it the only one? 
      </p>
      <p>
        From our own user experience, we already have a list of sponsors in mind that we might encounter in our analysis, but are they really the most common ones? Or are we naturally targetted by them because of our own interests? We hope to get a better understanding of the YouTube Ad landscape by analysing the data.
      </p>
      <p>
        Finally, we will try to summarize our findings to answer the question: 
      </p>

      <p class = "comment">
        Do sponsorships help content creators build a stronger community, or do they actually have some downsides?
      </p>

      <p> Without further ad-o, let's dive in the data! </p>

      <br/><br/>
      <hr/>
      <br/><br/>

      <h2> Who sponsors what? </h2>

      <p>
        Classifying sponsored videos is not a trivial task. We retrieved all the links from the video descriptions and classified the 1,000 most common domains (by hand!) into a category and flagged them as sponsor-related or not.
      </p>

      <img src="../assets/img/s_ns_ratio.svg" onclick="openModal(this);" alt="Pie plot of sponsored domains in the top 1000" width="45%" height="auto" style="margin-left:6%;" />
      <img src="../assets/img/w_s_np_ratio.svg" onclick="openModal(this);" alt="Pie plot of sponsored videos in the top 1000 domains" width="45%" height="auto" />

      <p>
        From these graphs, we notice that about a quarter of domains that come up in our analysis are sponsor-related, which represents more than two-thirds of the total number of videos on YouTube.
      </p>

      <img src="../assets/img/top_10.svg" onclick="openModal(this);" alt="Pie and bar plot of top 10 categories of sponsored and non-sponsored domains" width="100%" height="auto" />

      <p>
        Every bar plot is related to the pie chart above itself. We notice that the sponsored domains and non-sponsored domains do not have the same distribution of categories; about half of sponsored domains are related to Shops, Agencies and Video Games. On the other hand, Media and Music are very present among non-sponsored domains.
      </p>

      <img src="../assets/img/top_10_w.svg" onclick="openModal(this);" alt="Pie and bar plot of top 10 categories of sponsoring and non-sponsoring domains in videos" width="100%" height="auto" />

      <p>
        Taking a look at the data from another perspective, we now see the distribution of categories on videos. Before diving into the data, we did not expect sponsoring agencies to be so popular, but looking at the above pie charts, we see that more than a third of sponsored videos are sponsored by agencies!
      </p>

      <h2> Agen-who?</h2>

      <p>
        Agencies for monetization on YouTube are companies or organizations that help YouTube creators monetize their content, typically by connecting them with brands or advertizers who are interested in promoting their products or services. YouTubers generally choose an agency that aligns with their interests, goals and needs as creators.
      </p>

      <img src="../assets/img/agencies.svg" onclick="openModal(this);" alt="Pie plot of top 10 agencies" width="100%" height="auto"/>
      
      <p>
        This pie chart shows the top ten agencies that sponsor videos on YouTube. <i>rewardStyle</i>, <i>Po.st</i> and <i>Teespring</i> make up the top three, sponsoring more than 50% of all videos sponsored by agencies together.
      </p>

      <p>
        <i>Full disclosure</i>: we are sponsored by (n)one of them!
      </p>

      <h2>Connecting the Dots</h2>

      <p>
        The network below represents sponsors co-occurring together in videos. Using Force Atlas to layout the graph, we see that the graph is dense and clusters are visible. Specifically, <i>play.google.com</i> and <i>apps.apple.com</i> are closely related and located in the center of the graph, indicating that they sponsor a diverse range of videos (take a look at the two large <i class="bi bi-circle-fill" style="color:#E6C2FF"></i> nodes). Additionally, we observe that agencies are omnipresent in the data, sponsoring and targeting a broad range of videos.
      </p>

      <p>
        <i>Explore this interactive network! Click on the button below to see even more beautiful colors! </i>
      </p>

      <div class="row">
        <button id="btn-ss" class="btn btn-secondary" onclick="nextGraphState()">STATE</button>
      </div>

      <div id="graph-container">
        <div id="graph-container-ss"></div>
        <div id="graph-container-bece"></div>
        <div id="graph-container-clce"></div>
        <div id="graph-container-clco"></div>
        <div id="graph-container-mocl"></div>
      </div>

      <!-- Network legend -->
      <div class="row">
        <div class="col-4">
          <i class="bi bi-circle-fill" style="color:#DADB1E"></i> Video Game
        </div>
        <div class="col-8">
          <i class="bi bi-circle-fill" style="color:#72DE38"></i> Agency
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <i class="bi bi-circle-fill" style="color:#E0792F"></i> Technology
        </div>
        <div class="col-8">
          <i class="bi bi-circle-fill" style="color:#00BD94"></i> Education
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <i class="bi bi-circle-fill" style="color:#E03ABC"></i> Music
        </div>
        <div class="col-8">
          <i class="bi bi-circle-fill" style="color:#39AADE"></i> Shop
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <i class="bi bi-circle-fill" style="color:#9100E0"></i> Fashion
        </div>
        <div class="col-4">
          <i class="bi bi-circle-fill" style="color:#2500E0"></i> Beauty
        </div>
        <div class="col-4">
          <i class="bi bi-circle-fill" style="color:#18c315"></i> High
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <i class="bi bi-circle-fill" style="color:#E6C2FF"></i> Application
        </div>
        <div class="col-4">
          <i class="bi bi-circle-fill" style="color:#C0C0C0"></i> Others
        </div>
        <div class="col-4">
          <i class="bi bi-circle-fill" style="color:#e70064"></i> Low
        </div>
      </div>

      <br/>

      <p>
        Upon closer examination, we can identify two main clusters in the graph. The larger cluster contains sponsors related to Video Games, Technology, and Applications, while the smaller cluster contains sponsors related to Beauty and Fashion. This suggests that tech-related and fashion-related videos tend to form different communities on YouTube. We also observe that shops, such as <i>aliexpress.com</i> and <i>bangood.com</i>, are located on the outer part of the graph, possibly indicating that they target a broader audience rather than a specific community.
      </p>

      <p>
        Overall, this network provides insights into the relationships between sponsors on YouTube and the communities they target. By better understanding these relationships, we can better understand the sponsorship landscape on the platform.
      </p>

      <h2> Sponsorship History 101: Ad-venture through Time </h2>

      <p>
        We can now take a look at the evolution of sponsors over time, which will most likely help us understand the dynamics of sponsors. On the next graph, we can see how two of the most important sponsors grew: <i>play.google.com</i> and <i>rstyle.me</i>, which correspond to the <i>Google Play Store</i> and <i>rewardStyle</i> respectively.
      </p>

      <img src="../assets/img/rstyle_play_google_days.svg" onclick="openModal(this);" alt="Comparison of the evolution between Google Play and rewardStyle" width="100%" height="auto"/>

      <p>
        At the beginning, they grow exponentially, following the same trend as the overall YouTube platform. But <i>rewardStyle</i> seem to stabilize after 2018 and even starts to decrease, while the Play Store keeps growing.
      </p>

      <p>
        Interestingly enough, we can notice that for both of them, they are mentioned in videos even before they were created (22nd of October 2008 for the <i>Play Store</i> and 1st of June 2011 for <i>rewardStyle</i>). A possible explanation for this phenomenon is that after the release of the Play Store or rewardStyle, YouTubers modified the description of all of their videos, including those that were already published, to include their links.
      </p>

      <p>
        We now present the evolution of all categories on an area chart. At the beginning of youtube, agencies dominated the platform until 2012, when the application category took the skyrocket. (I guess you could say it was a real app-solute success!)
      </p>
      
      <!-- center the image relative to the page -->
      <img src="../assets/img/sponsor_categories.svg" onclick="openModal(this);" alt="Evolution of sponsor categories through time" width="150%" height="auto" style="margin-left: -25%; margin-right: -25%"/>

      <p>
        We can slightly notice a subtle decrease in the overall number of sponsored videos at the beginning of each year. Indeed, this might be due to three main reasons: 
        <ul>
          <li>The month of February has the least number of days in a year.</li>
          <li>YouTubers or sponsors might be taking a break during the holiday season.</li>
          <li>Finally, the decrease might be accentuated by the sponsors being more active before the holiday season, as it is a great time to promote their products. </li>
        </ul>
      </p>

      <p>
        A strange peak appears on October 2018, which happens to be due to an educationnal Indian channel: <a href="https://www.youtube.com/@Doubtnut" target="_blank">Doubtnut</a>. They published an astonishing number of 32,000 videos in 3 days!
      </p>

      <img src="../assets/img/sponsor_categories_scatter.png" onclick="openModal(this);" alt="Scatter plot of number of videos per day for the top 10 sponsor categories" width="175%" height="auto" style="margin-left: -37.5%; margin-right: -37.5%"/>

      <p>
        If we take a look at the individual evolution of each category, the Application and Agencies seem to skyrocket and follow an exponential growth! However, the other categories seem to all follow a same trend by decreasing after a certain time.
      </p>

      <p>
        We can also notice a strage peak in the Music category that happens in 2016. Although it coincides with the release of <i>YouTube Music</i>, this peak is due to a now defunct channel called <a href="https://www.youtube.com/channel/UCtQVQp-4weglkE1svqJuddg" target="_blank">Feiyr</a> (see the wayback machine <a href="https://web.archive.org/web/20190406001731/https://www.youtube.com/channel/UCtQVQp-4weglkE1svqJuddg" target="_blank">page</a>). They were the top channel publishing videos containing Music category domain links for the whole year of 2016.
      </p>

      <p>
        It is interesting to note that individual channels may have an immense impact on the overall trend of videos on YouTube. 
      </p>

      <h2>What about actual Videos?</h2>

      <p>
        In constrast with the previous analysis, we will now focus on sponsored videos. The graph below shows the top 3 sponsors for each video category. 

        As we might have anticipated, many of the videos are sponsored by brands closely related to their content. Agencies also have a great prevalence in all categories.
      </p>

      <img src="../assets/img/sponsored_categories.svg" onclick="openModal(this);" alt="Bar plot of number of videos per video and domain category" width="150%" height="auto" style="margin-left: -25%; margin-right: -25%"/>

      <img src="../assets/img/sponsored_ratio.svg" onclick="openModal(this);" alt="Bar plot of number of videos and ratio of sponsored videos per video category" width="150%" height="auto" style="margin-left: -25%; margin-right: -25%"/>

      <p>
        When looking at the ratio of sponsored to non-sponsored videos, we can see that the ranking is quite different. Except for the <i>Gaming</i> and <i>Nonprofit & Activism</i> categories, which both are at the extreme ends of the spectrum, the ranking makes more sense. The <i>Gaming</i>, <i>Howto & Style</i> and <i>People & Blogs</i> categories have the highest ratio of sponsored videos while <i>Sports</i> and <i>Nonprofit & Activism</i> have the lowest ratio of sponsored videos.
      </p>

      <p>
        We then explore the data with an observational study, where we define the set of treated videos as the sponsored ones. The graphs below shows the bootstrapped distributions of interesting features to compare between the groups after a maximum matching procedure.
      </p>

      <img src="../assets/img/bootstrap_matched_sp_nsp.svg" onclick="openModal(this);" alt="Histograms of mean of features for sponsor-matched entries" width="150%" height="auto" style="margin-left: -25%; margin-right: -25%"/>

      <p>
        Overall, sponsored videos have:
        <ul class="ul-none">
          <li><i class="bi bi-check2"></i> More reactions! (even though it means more dislikes..)</li>
          <li><i class="bi bi-check2"></i> A better like to dislike ratio!</li>
        </ul>
      </p>

      <p>
        Using the same approach, we classify videos sponsored by an agency as the treated group and those sponsored by another entity as the control group. The graph below shows the distribution of the same interesting features to compare:
      </p>

      <img src="../assets/img/bootstrap_matched_ag_nag.svg" onclick="openModal(this);" alt="Histograms of mean of features for agency-matched entries" width="150%" height="auto" style="margin-left: -25%; margin-right: -25%"/>

      <p>
        How interesting! Videos sponsored by Agencies have:
        <ul class="ul-none">
          <li><i class="bi bi-check2"></i> More likes!</li>
          <li><i class="bi bi-check2"></i> Less dislikes!</li>
          <li><i class="bi bi-check2"></i> More reactions!</li>
          <li><i class="bi bi-check2"></i> A better like to dislike ratio!</li>
        </ul>
      </p>

      <p>
        To figure out if Agency sponsorship is the secret sauce for YouTube success, we put it to the test with a regression analysis (gray fits do not have statictical significance).
      </p>

      <img src="../assets/img/regression_matched_ag.png" onclick="openModal(this);" alt="Plot of linear regression on agency-matched pairs" width="125%" height="auto" style="margin-left: -12.5%; margin-right: -12.5%"/>

      <p>  
        Our analysis still shows that videos sponsored by agencies tend to perform better on YouTube, with higher levels of likes, fewer dislikes, and more reactions. This suggests that being sponsored by an agency can significantly impact the popularity and engagement of a video. It is possible that agencies, with their professional expertise and experience in marketing and advertising, are able to help YouTubers create content that resonates more with viewers and effectively targets the right audience. In short, partnering with an agency could be the key to YouTube fame!
      </p>

      <p>
        Our matching approach aims to reduce the effect of confounding factors to the maximum, however, we cannot completely eliminate them. Also, it is difficult to determine whether agencies help YouTubers develop or if successful YouTubers are more likely to attract the attention of agencies. However, it is clear that both parties can benefit from the partnership.
      </p>

      <br/><br/>
      <hr/>
      <br/><br/>

      <h2>Conclusion</h2>
      <p>
        If you're a content creator in the tech, gaming, fashion, or beauty world, you're in luck! According to our research, these categories dominate the sponsored video scene on YouTube. So if you're looking to score some sweet sponsorship deals and work with top brands, these areas might be a good place to start. But don't worry if you're not in one of these categories - there are still plenty of opportunities out there for creators of all kinds. Just keep an eye on the changing landscape of sponsorships and you'll be on your way to building successful partnerships in no time!
      </p>

      <p>
        Moreover it looks like being sponsorshed by an agency is the way to go if you want a bunch of likes, reactions, and minimal dislikes on your YouTube videos! Our regression analysis showed that videos sponsored by agencies are more likely to be a hit with viewers. So if you are an aspiring creator or an Agency looking to boost the success of your videos, consider teaming up with an agency - it might just be the ticket to internet fame!
      </p>
      
    </div>

    <div class="end-video">
      <div class="video-content">
        <div class="end-video-replay" onclick="replayVideo()"><i class="bi bi-arrow-counterclockwise"></i></div>
        <div class="end-video-click-msg">Replay!</div>
        <div id="maintainers">
          Published on 23rd December 2022 by Antoine Chekireb--Pack, Ozan Güven, Yassine Jamaa and Arnaud Poletto
        </div>
      </div>
    </div>

    <!-- Time bar -->
    <div id="time-bar-empty"></div>
    <div id="time-bar-full"></div>
    <div id="time-dot"></div>
  </body>
  <script src="../assets/js/modal.js"></script>
</html>
